.CocktailRecipes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

li {
  text-align: left;
}

.CocktailRecipes-container img {
  width: auto;
  height: 300px;
}
